@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    font-family: Poppins;
    overflow-x: hidden;
}

.headerimage {
    background: url('../images/olskercupcakes.png') no-repeat center;;
    background-size: 100%;
    height: 430px;
    width: 100%;
    line-height: 25.6000003814697px
}

body {
    margin: 0px 55px 0px 0px;
    height: 100vh;
    width: 100%;
    background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.userInput{
background: black;
    height: 100%;
    width: 100%;
    position: center;
}



.orderid {
    padding-bottom: 25px;
}

.useremail {
    position: relative;
    text-decoration: none;
}

.useremail .a {
    text-decoration: none;
}

.useremail .a:hover {
    color: #6C00D8;
}
.Addcupcake .error-text{
    text-align: center;
    color: #bf1717;
}

.navpanel {
    border: 1px solid #000000;
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;

}
.userChoice{
    align-content: center;
}
.userChoice .btnK{
    border: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 10);
    padding: 12px;
    width: 20%;
    text-align: center;
    font-size: 17px;
}
.Addcupcake{
    margin:auto;
    align-content: center;
    text-align-all: center;
}
.Addcupcake button {
    margin:0px auto;
    align-content: center;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 10);
    padding: 12px;
    width: 20%;
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}
.userInput .buttonUI{
    border: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 10);
    padding: 12px;
    width: 20%;
    text-align: center;
    font-size: 17px;
}

.navpanel a {
    float: left;
    padding: 12px 12px;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
}


.navpanel .fas {
    float: right;
    margin-left: 25px;
    font-size: 25px;
    height: 30px;
    vertical-align: middle;
    color: white;
}

.headers {
    float: top;
    padding-bottom: 25px;
}

.streng {
    margin: auto;
    width: 290px;
    border-bottom: 1px solid;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container .header {
    position: center;
    left: 70px;
}

.orderBorder {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.orderBorder thead tr {
    text-align: center;
    color: #ffffff;
    text-align: left;

}
.orderBorder th, td{
    padding: 15px 18px;
}
.orderBorder tbody tr{
    border-bottom: 2px solid #dddddd;
}

.orderBorder tbody  tbody tr.active-row{
    border-bottom: 2px solid #ffffff;
}

.header2 {
    position: relative;
    top: -20px;
}

.container {
    text-align: center;
}

.container2 {
    margin: auto;
    width: 490px;
    border-bottom: 1px solid;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container2 p {
    float: left;
    padding: 4px 4px;
    color: #f2f2f2;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
}

.ordredetalje {
    position: center;
}



.footer {
    border-top: 1px solid #000000;
    background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    width: 100%;

}

.footer a {
    float: left;
    padding: 4px 4px;
    color: #f2f2f2;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
}

.footer a:hover {
    color: red;
}

.footer .secret {
    float: right;
}
