@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    font-family: Poppins;
    overflow-x: hidden;
}
.headerimage {
    background: url('images/olskercupcakes.png') no-repeat  center;;
    background-size: 100%;
    height: 430px;
    width: 100%;
    line-height: 25.6000003814697px
}

body {
    margin: 0px 55px 0px 0px;
    height: 100vh;
    width: 100%;
    background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.orderid{
    padding-bottom: 25px;
}

.useremail {
    position: relative;
    text-decoration: none;
}

.useremail .a {
    text-decoration: none;
}

.useremail .a:hover {
    color: #6C00D8;
}

.navpanel {
    border: 1px solid #000000;
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;

}

.navpanel a {
    float: left;
    padding: 12px 12px;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
}


.navpanel .fas {
    float: right;
    margin-left: 25px;
    font-size: 25px;
    height: 30px;
    vertical-align: middle;
    color: white;
}
.headers{
    float: top;
    padding-bottom: 25px;
}

.streng {
    margin: auto;
    width: 290px;
    border-bottom: 1px solid;
    margin-top: 20px;
    margin-bottom: 50px;
}
.container .header {
    position: center;
    left: 70px;
}

.header2 {
    position: relative;
    top: -20px;
}

.container{
    text-align: center;
}
.container2{
    border-style: solid;
    border-color: black;
    background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    margin-left: 400px;
    width: 60%;
    color: white;
}
.container2 p{
    float: left;
    padding: 4px 4px;
    color: #f2f2f2;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
}

.ordredetalje{
    position: center;
}

.button {
    background-color: rgb(70, 22, 110);
    margin-left: 1265px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    color: #E3E3E3;
}
.footer {
    border-top: 1px solid #000000;
    background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    width: 100%;

}

.footer a{
    float: left;
    padding: 4px 4px;
    color: #f2f2f2;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
}
.footer a:hover{
    color: red;
}
.footer .secret{
    float: right;
}
