@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("https://media2.s-nbcnews.com/i/newscms/2018_16/1332898/unicorn-cupcakes-today-041918-tease_607876a763a32491c1bf4bb7c8eab53e.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav {
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0.14);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f6f6f6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav p {
    float: left;
    color: #0e114f;
    text-align: center;
    padding: 2.5px 16px;
    text-decoration: none;
    font-size: 14px;
}

h1 {
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;


}

p {
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;

}

label {
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;

}

.container {

}